/* mobile style */

#main-header {
    margin: 0 20px;
}

/* small tablet style */
@media screen and (min-width: 620px){

}

/* large tablets % laptop style */
@media screen and (min-width: 960px){

}

/* desktop style */
@media screen and (min-width: 1200px){

}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 16px;
    padding-left: 140px;
    padding-right: 140px;
}

.bund-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.reb-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 16px;
    grid-template-rows: repeat(12, 122px);;
    padding-left: 140px;
    padding-right: 140px;
}
