body {
    margin: 0;
    padding: 0;
}

.color-box {
    background-color: black;
}

header {
    height: 1080px;
    background-color: #474747;
}

#logo{
    width: 122px;
    height: 96px;
    margin-top: 40px;
}

#menu{
    width: 536px;
    height: 96px;
    grid-column: 9/12;
    margin-top: 40px;
}

#icon{
    width: 122px;
    height: 96px;
    grid-column: 12/13;
    margin-left: 40px;
    margin-top: 40px;
}

#header-hero-img {
    width: 536px;
    height: 327px;
    grid-row: 4/7;
}

#drink-btn {
    width: 122px;
    height: 54px;
    grid-row: 8/9;
    
}

/* Flavour */
.tittle {
    width: 260px;
    height: 107px;
    grid-column: 6/7;
    margin-top: 60px;
    margin-bottom: 60px;
}

#flavour {
    height: 851px;
    background-color: #474747;
}

#flavour-cricle {
    width: 522px;
    height: 522px;
    grid-row: 4/9;
    grid-column: 5/8;
    border-radius: 50%;
    display: inline-block;
    margin-top: 100px;
    margin-left: 40px;
}

#flavour-btn {
    width: 260px;
    height: 75px;
    grid-row: 8;
    grid-column: 6/7;
    margin-left: 20px;
}

#bundles {
    height: 1036px;
    background-color: #474747;
}

.bundles-box {
    width: 536px;
    height: 569px;
    grid-row: 4/6;
    margin-left: 90px;
}

#bundle-btn {
    width: 260px;
    height: 75px;
    grid-row: 8/9;
    grid-column: 2;
    margin-left: 140px;
}

/* video */

#video-section{
    max-width: 1920px;
    height: 1060px;
    background-color: white;
    margin-top: 170px;
    margin-left: 330px;
}

#video {
    width: 1640px;
    height: 836px;
    background-color: black;
    
}

#reb-section {
    height: 1103px;
    background-color: #474747;
}

.ad1 {
    width: 398px;
    height: 669px;
    grid-column: 2/4;
    grid-row: 3/8;
}

.ad2 {
    width: 398px;
    height: 669px;
    grid-column: 9/11;
    grid-row: 3/8;
}

#tittle-reb {
    width: 536px;
    height: 153px;
    grid-column: 5/8;
    margin-top: 40px;
}

#button-1{
    width: 122px;
    height: 75px;
    grid-row: 9/10;
    grid-column: 2/4;
    margin-left: 140px;
}

#button-2{
    width: 122px;
    height: 75px;
    grid-row: 9/10;
    grid-column: 9/11;
    margin-left: 140px;
}

#contact-section {
    width: 1640px;
    height: 767px;
    background-color: #474747;
    margin-left: 160px;
    margin-top: 70px;
}

#con-tittle {
    width: 536px;
    height: 98px;
    grid-column: 3/6;
    grid-row: 2/4;
}

#con-first-name {
    width: 398px;
    height: 85px;
    grid-column: 2/4;
    grid-row: 3/5;
}

#con-last-name {
    width: 398px;
    height: 85px;
    grid-column: 4/7;
    grid-row: 3/5;
    margin-left: 160px;
}

#con-email {
    width: 812px;
    height: 85px;
    grid-column: 2/7;
    grid-row: 3/5;
    margin-top: 100px;
}

#con-message {
    width: 812px;
    height: 170px;
    grid-column: 2/7;
    grid-row: 4/6;
    margin-top: 20px;
}

#con-btn {
    width: 260px;
    height: 80px;
    grid-column: 4/5;
    grid-row: 5/6;
    margin-top: 25px;
}

/* footer */
footer {
    height: 412px;
    background-color: #474747;
    margin-top: 70px;
}

#footer-logo{
    width: 193px;
    height: 143px;
    grid-column: 6/7;
    margin-top: 50px;
}

#join {
    width: 260px;
    height: 96px;
    grid-row: 2;
    grid-column: 2/3;
}

#enquly {
    width: 260px;
    height: 96px;
    grid-row: 2;
    grid-column: 5/7;
    margin-left: 120px;
}

#social-media {
    width: 398px;
    height: 122px;
    grid-row: 2;
    grid-column: 10/12;
}
